<%= render "shared/secound_header"%>

<%= form_with model: @posts, url: posts_path(id: current_user.id), local: true do |f| %>

<%# render 'shared/error_messages', model: f.object %>

<div class="contentsrow">
  <div class="click-upload">
    <%= f.label :image, "#{ t('.image')}", class:"image_btn" %>
      <%= f.file_field :image, id:"image" %>
  </div>
  <div class="content_text">
    <%= f.text_area :content, placeholder: "#{ t('.text')}", rows: "3", class:"text_area" %>
  </div>
  <div class="new-post-btn">
    <%= f.submit "#{ t('.send')}", class:"new-post-btn-text" %>
  </div>
  <%=link_to "#{ t('devise.shared.links.back')}", root_path, class:"back-btn" %>
</div>
<% end %>

<%# f.label :image, "#{ t('.image')}", class:"image" %>