<%= render "shared/secound_header"%>


<div class="post-show">
<%= link_to "#{@post.user.nickname}", user_path(@post.user), class: :user__name %>
  <div class="post__image">
    <%= image_tag @post.image, class: "post-img" %>
  </div>
  <div class="card__content">
    <%= @post.content %>
  </div>

  <div id="like-<%= @post.id %>">
  <%= render "likes/like", post: @post %>
  </div>
</div>

<div class="comment-box">
    <ul class="comments_lists">
      <% @comments.each do |comment| %>
      <li class="comments_list">
        <%= comment.text %>
        <%= link_to "#{comment.user.nickname}", user_path(comment.user), class: :comment__user %>
      </li>
      <% end %>
    </ul>
  <% if user_signed_in? %>
    <%= form_with model: [@post, @comment], url: post_comments_path(post_id: @post.id), local: true do |f|%>
    <%= f.text_area :text, class:"comment-text" %>

    <button type="submit" class="comment-btn">
      <span><%= t('.comment')%><span>
    </button>
  <% end %>
</div>

  <% if user_signed_in? && current_user.id == @post.user_id %>
    <div class="post__manage">
      <%= link_to "#{t('.delete')}", post_path(@post), method: :delete, class: "post-delete" %>
    </div>
    <% end %>
  <% end %>